*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

::selection{
  background-color: #e06a6a;
}
h1,
h2 {
  font-family: "Amatic SC", sans-serif;
}
body {
  font-family: "Open Sans", sans-serif;
  /* scroll-behavior: smooth; */
}
@media (max-width: 576px) {
  h1 {
    font-size: 30px !important;
    line-height: 1.2;
  }
}
.container {
  margin: auto;
    max-width: 1200px;
  padding-inline: 15px;
}
.main-title {
  text-align: center;
  padding-block: 25px;
}
.main-title h4 {
  color: #7f7fad;
  font-size: 14px;
  font-weight: 450;
}
.main-title h2 {
  font-size: 48px;
  font-weight: 450;
}
.main-title h2 span {
  color: #e06a6a;
}
.nav-bar {
  background-color: hsl(0, 0%, 100%);
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  box-shadow: 0px 0px 14px 0 #0000001b;
}
.nav-bar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body:not(:has(:target)) .home-link,
body:has(#home:target) .home-link,
body:has(#chefs:target) .chefs-link,
body:has(#gallery:target) .gallery-link,
body:has(#contact:target) .contact-link {
  color: #000 !important;
}
body:not(:has(:target)) .home-link::before,
body:has(#home:target) .home-link::before,
body:has(#chefs:target) .chefs-link::before,
body:has(#gallery:target) .gallery-link::before,
body:has(#contact:target) .contact-link::before {
  width: 100% !important;
}
.nav-bar .nav-logo h3 {
  font-size: 1.875rem;
  font-weight: 900;
  cursor: pointer;
  color: #000;
}
.nav-bar .nav-logo h3 a {
  color: #000;
}
.nav-bar .nav-logo h3 span {
  color: #e61414;
}
.nav-bar .nav-contat {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.nav-contat .icon {
  margin-left: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav-contat .icon .dark {
  display: none;
}
.nav-contat .icon i {
  font-size: 1.5625rem;
  cursor: pointer;
}
.nav-bar .nav-contat ul {
  display: flex;
}
.nav-bar .nav-contat ul a {
  font-size: 1.0625rem;
  font-weight: 600;
  color: #7f7f90;
  position: relative;
}
.nav-bar .nav-contat ul a::before {
  content: "";
  width: 0%;
  height: 2px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #e61414;
  transition: 0.5s;
}
.nav-bar .nav-contat ul a:hover {
  color: #000;
}
.nav-bar .nav-contat ul a:hover::before {
  width: 100%;
}
.nav-contat ul li {
  margin-right: 50px;
}
h2 {
  font-family: "Amatic SC", sans-ser;
}
.menu {
  font-size: 22px;
  display: none;
  margin-left: 30px;
  color: #000;
}
.closeicon {
  display: none;
  text-align: right;
  font-size: 20px;
}
.closeicon a::after {
  content: "";
  width: 0px;
  height: 0px;
  position: static;
}
body:has(.navLink:target) .nav-bar {
  height: 100%;
  background-color: #fff8;
}
body:has(.navLink:target) .nav-bar .navLink {
  width: 250px;
  height: 100%;
}
body:has(.navLink:target) .nav-bar ul li {
  display: block;
  background-color: #fff;
}

@media (max-width: 1200px) {
  .menu {
    display: block;
    margin-left: 30px;
    color: #000 !important;
  }
  .closeicon {
    display: block;
  }

  .nav-bar .navLink {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    flex-direction: column;
    height: 0%;
    padding-inline: 10px;
  }
  .nav-bar ul li {
    display: none;
    margin-bottom: 20px;
    padding-block: 10px;
  }
}


/* start header */
.home {
  background-color: #eeeeee;
  padding-block: 50px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.home .home-text {
  width: 40%;
}
.home .home-text h1 {
  padding-bottom: 15px;
  font-size: 65px;
  font-weight: 800;
  color: #37373f;
}
.home .home-text p {
  padding-bottom: 15px;
  color: #4f4f5a;
  line-height: 26px;
}
.home .home-text .btn1 {
  padding: 12px 22px;
  background-color: #e61414;
  border: 0;
  border-radius: 0 100vh 100vh 100vh;
  color: #fff;
  font-size: 15px;
  margin-right: 28px;
}
.home-text .btn1:hover {
  background-color: hsl(0, 88%, 50%);
}
.home-text .btns {
  display: flex;
  align-items: center;
}
.home-text .btn2 {
  border: 0;
  font-size: 15px;
  display: flex;
  align-items: center;
  margin-left: 20px;
  color: #000;
}
.home-text .btn2 .icons {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: linear-gradient(to right, red 0 50%, transparent 50% 100%);
  margin-right: 13px;
}
.home-text .btn2 .icons i {
  z-index: 99;
  color: #000;
}
.home-text .btn2 .icons::before {
  content: "";
  width: 40px;
  height: 40px;
  border-radius: inherit;
  background-color: #fff;
  position: absolute;
}
.home-text .btn2:hover {
  color: #e61414;
}
.home-text .btn2:hover i {
  color: #e61414;
}
.home-img {
  /* background-color: blue; */
  width: 45%;
}
.home-img img {
  width: 80%;
  filter: drop-shadow(4px 4px 10px #000a);
}
.home-img img:hover {
  animation: moving 0.5s infinite;
}
.home-img img:hover {
  transform: translate(-5px, -5px);
}
@keyframes moving {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
/* start media  */
@media (max-width: 1200px) {
  :is(.home-text, .home-img) {
    /* background-color: red; */
    width: 100% !important;
  }
  #home .container {
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
  }
  #home .home-text .btns {
    flex-direction: column;
  }
  #home .home-text .btns .btn2 {
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
  }
}
@media (max-width: 576px) {
  #home .container {
    flex-direction: column-reverse;
    gap: 20px;
  }
}
/* end media */
/* end header */
/* start chefs */
.chefs {
  margin-top: 15px;
  padding: 25px;
}
.chefs .items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.chefs .items .chefs-details {
  width: 30%;
  /* background-color: #E61414; */
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
  position: relative;
  margin-top: 15px;
}

.items .chefs-details:hover {
  scale: 1.06;
} 
.chefs .items .chefs-details picture {
  position: relative;
}
.chefs .items .chefs-details .box {
  background-color: #ffffff4d;
  position: absolute;
  right: -90px;
  top: 30px;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  padding: 10px 8px;
  transition: 0.5s;
  border-radius: 5px;
}

.chefs .items .chefs-details:hover .box {
  right: 15px;
  transition: 0.5s 0.3s;
}
.items .chefs-details .box i {
  padding-block: 10px;
  font-size: 20px;
  color: #37373f66;
  text-align: center;
}
.items .chefs-details .box i:hover {
  color: #37373fe6;
  cursor: pointer;
}
.items .chefs-details picture::before {
  content: "";
  position: absolute;
  background-image: url("../images/team-shape.svg");
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 55px;
}
.chefs .chefs-details .chefs-text {
  padding: 12px 5px;
}
.chefs .chefs-details .chefs-text h3 {
  font-size: 19px;
  font-weight: 700;
}
.chefs .chefs-details .chefs-text span {
  font-size: 14px;
  margin-block: 8px;
  color: #c1a69e;
}
.chefs .chefs-details .chefs-text p {
  font-size: 16.5px;
  font-style: italic;
  color: #7f7f90;
  margin-top: 5px;
}
.chefs .chefs-details img {
  width: 100%;
  /* border-radius: 10px; */
}
/* start media */
@media (max-width: 1200px) {
  #chefs .chefs-details {
    width: 100%;
    margin-block: 18px;
  }
}
/* end media */
/* end chefs */
/* start gallery */
.gallery {
  margin-top: 20px;
  background-color: #eeeeee;
  padding-block: 20px;
}
.gallery .pictures {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 1050px;
  overflow: hidden;
}
.gallery .pictures .layer {
  background-color: #00000096;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.gallery .pictures .layer h3 {
  font-size: 24px;
  font-weight: 700;
}
.gallery picture:hover .layer {
  top: 0;
}
.gallery picture {
  width: 30%;
  margin: 10px;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
}
.gallery img {
  width: 100%;
}
/* start media */
@media screen and (max-width: 1200px) {
  .gallery .pictures {
    height: auto;
  }
  .gallery picture {
    width: 100%;
  }
}
/* end media */
/* end gallery */
/* start contact */
.contact {
  margin-top: 20px;
  padding-block: 20px;
}
.contact .contact-details {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.contact .contact-details .items {
  width: 45%;
  margin: 10px;
  background-color: #f5f5f5;
  padding: 30px 20px;
  display: flex;
  align-items: center;
  border-radius: 8px;
}
.contact .contact-details .items .con-ico {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ce1212;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}
.contact .contact-details .items .con-ico i {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
.contact .contact-details .items .con-text h3 {
  font-size: 20px;
  color: #7d7d7d;
}
.contact .theform form {
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
  padding: 20px 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}
.contact .theform form > *:not(button) {
  width: 100%;
}
.contact .input-grops {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 10px;
}
.contact .input-grops input {
  width: 49%;
}
.contact .theform form input {
  padding: 15px;
  margin-bottom: 12px;
}
.contact .theform form textarea {
  padding: 45px 10px;
  font-family: inherit;
  resize: vertical;
  max-height: 350px;
  min-height: 150px;
}
.contact .theform form input,
.contact .theform form textarea {
  border: 2px solid #e8e3e3;
}
.contact .theform form input:focus,
.contact .theform form textarea:focus {
  outline: none;
  border-color: #d96b6b;
}
.contact .theform form button {
  margin-top: 35px;
  padding: 15px 45px;
  background-color: #e61416;
  border: none;
  border-radius: 18px;
  color: #fff;
  font-family: inherit;
  font-size: 15px;
}
.contact .the-map {
    width: 100%;
  aspect-ratio: 16 / 9;   /* نسبة ثابتة */
  overflow: hidden;
  border-radius: 10px;
}
.contact .the-map iframe{
    width: 100%;
  height: 100%;
  border: 0;
  display: block;
}
/* start media */
@media (max-width: 1200px) {
  .contact .contact-details .items {
    width: 100%;
    padding-inline: 10px;
  }
  .contact .input-grops input {
    width: 100%;
  }
}
/* end media */
/* end contact */
/* start footer */
.footer {
  margin-top: 20px;
  background-color: #000;
  color: #fff;
  padding: 30px;
}
.footer .foot-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer .foot-items .foot-detls1 {
  width: 25%;
  /* background-color: #CE1212; */
}
.footer .foot-items .foot-detls1 .foot-hdr {
  display: flex;
  align-items: center;
}
.footer .foot-items .foot-detls1 .foot-hdr h3 {
  margin-left: 12px;
  font-size: 32px;
  font-weight: 700;
}
.footer .foot-items .foot-detls1 .foot-hdr span {
  color: #ce1212;
}
.footer .foot-items .foot-detls1 p {
  font-size: 17px;
  padding-block: 8px;
}
.footer .foot-items .foot-detls1 h4 {
  text-align: center;
  font-size: 19px;
  font-weight: 700;
  position: relative;
  padding-block: 5px;
  border-bottom: 2px solid #585858;
}
.footer .foot-items .foot-detls1 img {
  width: 10%;
}
.footer .foot-items .foot-detls1 .ico-hdrs {
  text-align: center;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
.footer .foot-items .foot-detls1 .ico-hdrs i {
  font-size: 25px;
  margin: 8px 20px 0px 12px;
  cursor: pointer;
}
.footer .foot-items .foot-detls2 {
  width: 50%;
  margin-left: 12px;
}
.footer .foot-items .foot-detls2 h3 {
  font-size: 20px;
  font-weight: 700;
  padding-block: 8px;
}
.footer .foot-items .foot-detls2 p {
  padding-block: 10px;
}
.footer .foot-items .foot-detls2 input {
  padding: 10px 5px;
  width: 65%;
}
.footer .foot-items .foot-detls2 button {
  padding: 12px 10px;
  background-color: #e61416;
  border: 0;
  color: #fff;
  font-size: 15px;
}
.footer .foot-items h4 {
  padding-top: 12px;
  font-size: 19px;
}
.footer .foot-items .foot-detls2 .links ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer .foot-items .foot-detls2 .links li::before {
  content: "\f105";
  color: red;
  margin-right: 3px;
  font: var(--fa-font-solid);
}
.footer .foot-items .foot-detls2 .links li {
  transition: 0.5s;
  padding: 4px;
  width: 40%;
  /* margin-left: 8px; */
}
.footer .foot-items .foot-detls2 .links li:hover {
  transform: translateX(10px);
  background-color: #222222;
}
.footer .foot-items .foot-detls3 li {
  font-size: 17px;
  padding-block: 5px;
}
.footer .foot-items .foot-detls3 li i {
  color: #ce1212;
  font-size: 21px;
  margin-right: 5px;
}
.footer .foot-items .foot-detls3 {
  width: 22%;
}
/* start media */
@media (max-width: 1200px) {
  body {
    overflow-x: hidden;
  }
  .footer .foot-detls1,
  .footer .foot-detls2,
  .footer .foot-detls3 {
    width: 100% !important;
  }
  .footer .foot-items .foot-detls2 .links li {
    /* padding: 5px 10px; */
    width: 46%;
    margin-left: 5px;
  }
  .footer .foot-items .foot-detls2 input {
    width: 100%;
  }
  .footer .foot-items .foot-detls2 button {
    margin-block: 8px;
    width: 100%;
  }
}
/* end media */
/* end footer */
